@font-face { font-family: Proxima Nova; src: url('./fonts/Proxima-Nova-Regular.otf'); }
@font-face { font-family: Proxima Nova; font-weight: bold; src: url('./fonts/Proxima-Nova-Bold.otf');}

.header {
	color: black;
	padding: 30px;
	text-align: center;
	z-index: 2;
	margin-bottom: 10px;
	margin-top: 20px;
}
h1, h2, h3, h4 {
	font-family: Proxima Nova;
}
h1{
	font-size: 32px;
}
h2{
	margin-top: 0;
	padding-top:0;
	font-size: 20px;
	text-align: left;
}

h3{
	color: #808080;
	font-size: 24px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: gray;
	padding-bottom: 5px;
}

h4{
	font-size: 20px;
	text-align: left;
}

form, p, span, input, button, .btn, td, tr, body, .or, .selectCat, .browse_selection, .dropdown-toggle, a {
	font-family: Proxima Nova;
	font-size: 14px;
}


input {
	color: grey;
	font-size: 14px;
	width: 40%;
	position: relative;
}

button {
	font-size: 12px;
}

.header span {
	font-size: 20px;
	font-style: italic;
}
.categories{
	font-size: 14px;
	color: #8c8c8c;
}

#wrapper {
	margin: 0 55px;
	padding-bottom: 50px;
}

.row{
	margin: 0 10px;
}

.calc_header{
	padding-top: 0;
	/*margin-top: 25px;*/
	padding-bottom: 15px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #bfbfbf; /*gray*/
	margin-bottom: 30px;
}

.ingred_input {
	height: 50px;
	width: 80%;
	padding-left: 10px;
}

#select_ingreds{
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: black;
	padding-top: 50px;
	padding-bottom: 100px;
	padding-right: 30px;
}

.columns {
	-webkit-columns:3;
	-webkit-column-width:auto;
	-moz-columns:3;
	-moz-column-width:auto;
	-ms-columns:3;
	-ms-column-width:auto;
}

#foodprint{
	padding-bottom: 100px;
}

.headertext{
	position: absolute;
	text-align: right;
	top:215px;
	right:130px;
	z-index: 3;
}
.rightContainer {
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #bfbfbf;

}

.ingred_header {
	text-align: center;
	font-size: 16px;
	background-color: #ccf5ff;
	padding: 7px;
}

.total_header {
	text-align: center;
	font-size: 16px;
	background-color: #bfbfbf;
	padding: 7px;
	margin-top: 10px;
}

.offset_header {
	text-align: center;
	font-size: 16px;
	background-color: #ccffcc;
	padding: 7px;
}

.breakdown{
	min-height: 125px;
}

#next{
	float: right;
}

/*td {
	width: 30%;
	font-size: 14px;

}*/

.qty_input {
	width: 40px;
}
.breakdown_text {
	font-size: 12px;
	padding-right: 5px;
}

.emissions {
	text-align: right;
	width: 20%;
	vertical-align: middle;
	padding-right: 7px;
}

.qty_ingred_breakdown {
	vertical-align: middle;
	/*font-size: 12px;*/
}

.emissionButtonContainer {
	width: 15%;
}

td > span {
	vertical-align: middle;
}

table {
	width: 100%;
}

.remove_button {
	height: 18px;
	font-size: 10px;
	vertical-align: center;
}

.add_button {
	margin-top: 10px;
}

.searchForm{
	margin-bottom: 20px;
	position: relative;
}

.dropdown-menu {
  top: 0;
  left: 100%;
}

.or {
	/*font-family: 'Arimo', sans-serif;*/
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.selectCat, .browse_selection {
	/*font-family: 'Arimo', sans-serif;*/
	font-size: 16px;
	margin: 10px auto;
}

.ok_button {
	height: 80%;
	margin-left: 20px;
}

.search_button {
	position: relative;
	float: right;
	vertical-align: center;
	margin-right: 30px;
}

.update_input {
	width: 50px;
	position: relative;
}

.modalText {
	position: relative;
	float: left;
}

.emphasize {
	color: #337ab7;
	font-weight: bold;
	font-size: 14px;
}

.table_qty {
	width: 40px;
	position: relative;
	float: left;
	margin-right: 10px;
}

.table_qty input{
	width: 90%;
	padding-left: 3pxl
}
