<div class = "enter_ingred">
  <form class="searchForm" name="searchForm" ng-submit="setIngred(null, true, searchForm)">
    <div mass-autocomplete class="auto_complete_div">
      <input class="ingred_input" type="text" name="ingred" ng-model="input.value" ng-keyup="toggleFound(searchForm.$submitted, searchForm, $event);" placeholder= "Type the name of an ingredient..." mass-autocomplete-item="autocomplete_options">
    </div>
  </form>

  <div ng-if="found === false">
    <p>Sorry, we could not find your ingredient in our database. Try browsing by category instead. </p>
  </div>
</div>
