<div class = "enter_ingred">
  <form class="searchForm" name="searchForm" ng-submit="setIngred(null, true, searchForm)">
    <div mass-autocomplete class="auto_complete_div">
      <input class="ingred_input" type="text" name="ingred" ng-model="input.value" ng-keyup="toggleFound(searchForm.$submitted, searchForm, $event);" placeholder= "Type the name of an ingredient..." mass-autocomplete-item="autocomplete_options">
    </div>
  </form>

  <div ng-if="found === false">
    <p>Did you mean: </p>
    <ul class="did_you_mean_list">
      <li ng-repeat="ingredName in suggestResults.slice(0, suggestResults.length-1).slice(0,5)">
      <a class ="menu_item" ng-click= "setIngred(ingredName.label, true, searchForm)">{{ingredName.label}}</a>
      </li>
    </ul>
    <p>Sorry, we could not find your ingredient in our database. Try browsing by category instead. </p>

  </div>
</div>
